.pill {
   display: inline-flex;
   align-items: center;
   padding: 0.02em 0.4em;
   border-radius: var(--space-xxs);
   font-size: 7px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 0.5px;
   text-align: center;
}

.pill.medium {
   font-size: var(--font-xxs);
   padding: 0.1em 0.5em;
}

.pill.would-hire {
   background-color: hsla(120, 40%, 60%, 0.2);
   color: hsl(120, 50%, 70%);
   border: 1px solid hsl(120, 50%, 70%);
}

.pill.current {
   background-color: hsla(204, 100%, 40%, 0.2);
   color: hsl(204, 100%, 60%);
   border: 1px solid hsl(204, 100%, 60%);
}

.pill.active {
   background-color: hsla(30, 40%, 60%, 0.2);
   color: hsl(30, 50%, 70%);
   border: 1px solid hsl(30, 50%, 70%);
}

.pill.user-picture {
   background-color: hsla(270, 40%, 60%, 0.2);
   color: hsl(270, 50%, 75%);
   border: 1px solid hsl(270, 50%, 75%);
}
