:root {
   --header-height: 90px;

   /* Background Colors */
   --clr-primary: hsl(0, 0%, 12%);
   --clr-secondary: hsl(240, 1%, 15%);
   --clr-tertiary: hsl(240, 3%, 18%);
   --clr-elevated: hsl(240, 3%, 25%);
   --clr-border: hsl(240, 3%, 25%);

   /* Text Colors */
   --text-primary: hsl(0, 0%, 80%);
   --text-secondary: hsl(0, 0%, 72%);
   --text-tertiary: hsl(0, 0%, 43%);
   --text-muted: hsl(0, 0%, 25%);

   --text-hover-ondark: hsl(240, 3%, 25%);
   --text-placeholder: hsl(0, 0%, 50%);

   /* Accent Colors */
   --clr-accent-blue: hsl(204, 100%, 40%);
   --clr-accent-blue-hover: hsl(204, 75%, 33%);
   --clr-accent-green: hsl(120, 40%, 60%);
   --clr-accent-orange: hsl(30, 40%, 60%);
   --clr-accent-red: hsl(10, 60%, 65%);

   /* Spacing */
   --space-xxs: 0.125rem; /* 2px */
   --space-xs: 0.25rem; /* 4px */
   --space-sm: 0.5rem; /* 8px */
   --space-md: 0.75rem; /* 12px */
   --space-lg: 1rem; /* 16px */
   --space-xl: 1.25rem; /* 20px */
   --space-xxl: 1.5rem; /* 24px */
   --space-xxxl: 2rem; /* 32px */

   /* Typography */
   --font-xxs: 0.5rem; /* 8px */
   --font-xs: 0.6875rem; /* 11px */
   --font-sm: 0.75rem; /* 12px */
   --font-md: 0.8125rem; /* 13px */
   --font-lg: 0.875rem; /* 14px */
   --font-xl: 1rem; /* 16px */
}
